.root {
    -fx-background-color: #585858;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-image: url("assets/main.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

HBox  {
    -fx-alignment: center;
}

.button {
    -fx-text-fill: #282828;
    -fx-font-size: 13pt;
    -fx-padding: 5 12;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
}

#addTrophyBtn {
    -fx-text-fill: black;
}

#menu {
    -fx-background-color: #7CAFC2;
    -fx-padding: 7;
    -fx-text-alignment: center;
    -fx-text-color: "black";
}

.label {

}

//UI labels
#lblBtn {
    -fx-text-fill: white;
    -fx-padding: 14;
}

//navbar color #7cafc2
.menuLayout {
    -fx-background-color: #7CAFC2;
}

//Welcome Note
#main {
    -fx-text-fill: white;
    -fx-font-size: 15pt;
}

//league table
table {
    -fx-text-fill: 'white';
}

#footer {
    -fx-background-color: #282828;
    -fx-text-center: center;
}

#footLbl {
    -fx-text-fill: white;
    -fx-font-size: 13pt;
    -fx-padding: 15;
}